# Database (PostgreSQL)
POSTGRES_USER=store_admin
POSTGRES_PASSWORD=supersecret_db_password
POSTGRES_DB=simplestore

# Cache (Redis)
REDIS_PASSWORD=supersecret_redis_password

# Object Storage (MinIO)
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=supersecret_minio_password
